* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #6B6A6A;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card {
    background-color: #309F41;
    width: 873px;
    height: 513px;
    position: relative;
}

#fotoperfil {
    border-radius: 50%;
    border: 30px solid #1E3115;
    width: 281px;
    height: 281px;
    position: absolute;
    top: 120px;
    left: 60px;
}

#fotoperfil:hover {
    border: 40px solid #CE171F;
}